In [ ]:
# variable
x = "hallo"

In [ ]:
x

'hallo'

In [ ]:
y = 5
y

5

In [ ]:
k = 5.5
k

5.5

## Conditional

In [ ]:
if False:
  print('halo')
  print('statement 2')

In [ ]:
nomor = 5

if nomor > 30:
  print(f'{nomor} di atas 30')
elif nomor == 30:
  print(f'{nomor} sama dengan 30')
elif 10 < nomor < 20:
  print(f'{nomor} di atas 10 di bawah 20')
else:
  print(f'{nomor} di bawah 10')

5 di bawah 10

- A : 80 <= x <= 100
- B : 70 <= x < 80
- C : 60 <= x < 70
- D : 40 <= x < 60
- E : 0 <= x < 40

In [ ]:
# r.g
nilai = 101
if nilai >= 80:
    print(f"{nilai} nilai sama dengan A")
elif 70 <= nilai < 80:
    print(f"{nilai} nilai sama dengan B")
elif 60 <= nilai < 70:
    print(f"{nilai} nilai sama dengan C")
elif 40 <= nilai < 60:
    print(f"{nilai} nilai sama dengan D")
else:
    print(f"{nilai} nilai sama dengan E")

101 nilai sama dengan A

In [ ]:
# i.y
x = eval(input('Masukkan Nilai : '))

if x >= 80 and x <= 100:
    print(f'Nilai anda : A')
elif x >= 70 and x < 80:
    print(f'Nilai anda : B')
elif x >= 60 and x < 70:
    print(f'Nilai anda : C')
elif x >= 40 and x < 60:
    print(f'Nilai anda : D')
elif x >= 0 and x < 40:
    print(f'Nilai anda : E')

Masukkan Nilai : -5

In [ ]:
# m.i
nilai = eval(input ('Masukan Nilai Anda' ))
if nilai < 40:
    print (f'{nilai} adalah indeks E')
elif nilai <60:
    print (f'{nilai} adalah indeks D')
elif nilai <80:
    print (f'{nilai} adalah indeks B')
else:
    print(f'{nilai} adalah indeks A')

Masukan Nilai Anda90
90 adalah indeks A

In [ ]:
# m.a.i
nilai = 70
if 80 <= nilai <= 100:
    print("A")
elif 70 <= nilai <= 80:
    print("B")
elif 60 <= nilai <= 70:
    print("C")
elif 40 <= nilai <= 60:
    print("D")
else:
    print("E")

B

In [ ]:
# nested if
x = 101

if 0 <= x <= 100:
  if 80 <= x:
    print('grade A')
  elif 70 <= x:
    print('grade B')
  elif x >= 60:
    print('grade C')
  elif x >= 40:
    print('grade D')
  else:
    print('grade E')
else:
  print('Angka tidak valid')

Angka tidak valid

In [ ]:
cities = ['Tokyo', 'Surabaya', 'Yogyakarta', 'Medan', 'Paris']
cities

['Tokyo', 'Surabaya', 'Yogyakarta', 'Medan', 'Paris']

In [ ]:
kota = 'Tokyo'

if kota in cities:
  print(f'{kota} berada dalam list cities')

Tokyo berada dalam list cities

## Looping

### While loop

In [ ]:
# infinite loop

# while True:
#   print('hallo')
#   print('statement 2')

In [ ]:
angka = 4

In [ ]:
angka = angka + 1
angka

7

In [ ]:
i = 0

while i < 5:
  print(i)
  i = i + 1

0
1
2
3
4

In [ ]:
i = 1

while i <= 10:
  print(f'5 x {i} = {5*i}')
  i = i + 1

5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

In [ ]:
i = 1
j = 1

while i <= 10:
  while j <= 10:
    print(f'{i} x {j} = {i*j}')
    j = j + 1
  print('='*10)
  i = i + 1
  j = 1

In [ ]:
i = 10

while i < 5:
  print('i di bawah 5')
else:
  print('i di atas 5')

i di atas 5

### For loop

In [ ]:
a = [1, 2, 3]
b = [4, 5, 6]

a + b

[1, 2, 3, 4, 5, 6]

In [ ]:
cities = cities + ['Labuan Bajo', 'Kalimantan Selatan']
cities

['Tokyo',
 'Surabaya',
 'Yogyakarta',
 'Medan',
 'Paris',
 'Labuan Bajo',
 'Kalimantan Selatan']

In [ ]:
enumerate(cities)

In [ ]:
for idx, kota in enumerate(cities):
  print(idx)
  print(kota)
  print('='*10)

0
Tokyo
==========
1
Surabaya
==========
2
Yogyakarta
==========
3
Medan
==========
4
Paris
==========
5
Labuan Bajo
==========
6
Kalimantan Selatan
==========

In [ ]:
idx = 0

while idx < len(cities):
  print(cities[idx])
  idx += 1 # idx = idx + 1

Tokyo
Surabaya
Yogyakarta
Medan
Paris
Labuan Bajo
Kalimantan Selatan

In [ ]:
list(range(1,10))

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
for i in range(1, 11):
  print(f'5 x {i} = {5*i}')

5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

In [ ]:
i = 1
j = 1

while i <= 10:
  while j <= 10:
    print(f'{i} x {j} = {i*j}')
    j = j + 1
  print('='*10)
  i = i + 1
  j = 1

In [ ]:
for i in range(1, 11):
  for j in range(1, 11):
    print(f'{i} x {j} = {i*j}')
  print('='*10)

## Flow Control Statement

In [ ]:
# continue
for i in range(0, 11):
  if i in [2, 6, 7, 9]:
    continue
  print(i)

0
1
3
4
5
8
10

In [ ]:
# break
for i in range(0, 11):
  if i in [2, 6, 7, 9]:
    break
  print(i)

0
1

In [ ]:
i = 1
j = 1

while i < 10:
  i = i + 1
  j = 1
  if i in [4, 5, 6]:
    continue
  while j <= 10:
    print(f'{i} x {j} = {i*j}')
    j = j + 1
  print('='*10)

In [ ]:
angka = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

above_5 = []

for value in angka:
  if value > 5:
    above_5.append(value)

above_5

[6, 7, 8, 9, 10]

In [ ]:
x = 101

if 0 <= x <= 100:
  if 80 <= x:
    print('grade A')
  elif 70 <= x:
    print('grade B')
  elif x >= 60:
    print('grade C')
  elif x >= 40:
    print('grade D')
  else:
    print('grade E')
else:
  print('Angka tidak valid')

Angka tidak valid

In [ ]:
d = {'rafif': 70, 'dwi': 80, 'ezar': 85}
d

{'dwi': 80, 'ezar': 85, 'rafif': 70}

In [ ]:
d.keys()

dict_keys(['rafif', 'dwi', 'ezar'])

In [ ]:
d.values()

dict_values([70, 80, 85])

In [ ]:
d.items()

dict_items([('rafif', 70), ('dwi', 80), ('ezar', 85)])

In [ ]:
for nama, nilai in d.items():
  print(nama, 'dengan nilai', nilai)

rafif dengan nilai 70
dwi dengan nilai 80
ezar dengan nilai 85

In [ ]:
grade = {}

for nama, x in d.items():
  if 0 <= x <= 100:
    if 80 <= x:
      grade[nama] = 'A'
    elif 70 <= x:
      grade[nama] = 'B'
    elif x >= 60:
      grade[nama] = 'C'
    elif x >= 40:
      grade[nama] = 'D'
    else:
      grade[nama] = 'E'
  else:
    print('Angka tidak valid')

grade

{'dwi': 'A', 'ezar': 'A', 'rafif': 'B'}

In [ ]:
d

{'dwi': 80, 'ezar': 85, 'rafif': 70}

In [ ]:
print(d)

{'rafif': 70, 'dwi': 80, 'ezar': 85}