## Ini adalah Sebuah Latihan

In [1]:
pesanan_1 = input ("masukan pesanan makanan anda : ")
pesanan_2 = input ("masukan pesanan minuman anda : ")

print(f"pesanan anda adalah {pesanan_1} dan {pesanan_2} ")

pesanan anda adalah somay dan lemon tee

### Perhitungan Sederhana

In [3]:
input_1 = input ("masukan angka pertama : ")
input_1 = eval(input_1)
input_2 = input ("masukan angka kedua : ")
input_2 = eval(input_2)

print(f"hasil perhitungan : {input_1 + input_2}")

hasil perhitungan : 35

In [6]:
#var assignment

a=b=c=50
print(f"a : {a}")
print(f"b : {b}")
print(f"c : {c}")

a : 50
b : 50
c : 50

In [9]:
n = 5
while n > 0:    
    n -= 1    
    if n == 2:        
        break # Break Statement    
    print(n)
    print('Loop ended.')rf[c
    fh[f]]

4
Loop ended.
3
Loop ended.

# day 2 conditional & looping

In [1]:
# variable
x ="hallo"

In [2]:
x

'hallo'

In [3]:
k = 5.5
k

5.5

## Conditional

In [10]:
# if <kondisi> : (dapat menggunakan operator matematika ; <, >, =)
   # <statement> (code block/ dapat satu baris atau lebih)
   # <statement>

   # boolean : true or false

IndentationError: unexpected indent (Temp/ipykernel_14396/3990231873.py, line 7)

In [12]:
   if True:
        print('hallo')
        print('statement_2')

hallo
statement_2

In [39]:
nomor = 15
if nomor > 30:
    print(f"{nomor} diatas 30")
elif nomor == 30:
    print(f"{nomor} sama dengan 30")
elif 10 < nomor < 20:
    print(f"{nomor} diatas 10 dibawah 20")
else:
    print(f"{nomor} di bawah 30")    

    # [] untuk pembuatan list, atau indexing
    # () tuple, atau function
    # {} untuk set ataupun dictionary, merubah string menjadi variabel/angka
    # if bisa berdiri sendiri
    # namun elif dan else tidak bisa berdiri tanpa if

15 diatas 10 dibawah 20

### Latihan

In [42]:
- A : 80 <= x <= 100
- B : 70 <= x < 80
- C : 60 <= x < 70
- D : 40 <= x < 60
- E : 0 <= x < 40

nilai = 15
if nilai >= 80:
    print(f"{nilai} nilai sama dengan A")
elif 70 <= nilai < 80:
    print(f"{nilai} nilai sama dengan B")
elif 60 <= nilai < 70:
    print(f"{nilai} nilai sama dengan C")
elif 40 <= nilai < 60:
    print(f"{nilai} nilai sama dengan D")
else:
    print(f"{nilai} nilai sama dengan E")

SyntaxError: illegal target for annotation (Temp/ipykernel_14396/2464108236.py, line 1)

In [52]:

# nilai = input("Masukkan Angka Pertama :")
# nilai = eval(input)

nilai = eval(input("Masukkan Nilai :"))

if 0 <= nilai <= 100:
    if nilai >= 80:
    print(f"{nilai} nilai sama dengan A")
    elif 70 <= nilai < 80:
    print(f"{nilai} nilai sama dengan B")
    elif 60 <= nilai < 70:
    print(f"{nilai} nilai sama dengan C")
    elif 40 <= nilai < 60:
    print(f"{nilai} nilai sama dengan D")
    else:
    print(f"{nilai} nilai sama dengan E") 
else:
    print(f"{nilai} tidak valid")

    # pakai and atau or juga bisa

IndentationError: expected an indented block (Temp/ipykernel_14396/3270265409.py, line 8)

In [59]:
nilai = eval(input("Masukkan Nilai :"))

if 0 <= nilai <= 100:
    if nilai > 80:
    print(f"{nilai} nilai sama dengan A")
    elif 70 <= nilai < 80:
    print(f"{nilai} nilai sama dengan B")
    elif 60 <= nilai < 70:
    print(f"{nilai} nilai sama dengan C")
    elif 40 <= nilai < 60:
    print(f"{nilai} nilai sama dengan D")
    else:
    print(f"{nilai} nilai sama dengan E") 

# else:
  #  print(f"{nilai} tidak valid")

IndentationError: expected an indented block (Temp/ipykernel_14396/3394365001.py, line 5)

In [56]:
cities = ["Tokyo", "Surabaya", "Yogyakarta", "Medan", "Paris"]
cities

['Tokyo', 'Surabaya', 'Yogyakarta', 'Medan', 'Paris']

In [58]:
kota = "Tokyo"

if kota in cities :
    print(f"{kota} berada dalam list {cities}")

Tokyo berada dalam list ['Tokyo', 'Surabaya', 'Yogyakarta', 'Medan', 'Paris']

### While Loop

In [ ]:
# if <kondisi> : (dapat menggunakan operator matematika ; <, >, =)
   # <statement> (code block/ dapat satu baris atau lebih)
   # <statement>

   # boolean : true or false

# while <kondisi>
   # <statement> (code block/ dapat satu baris atau lebih)
   # <statement>
   # definisikan kondisi
   # true => false
   # update variabel

In [ ]:
while True:
    print("hallo")
    print("statement_2")

    #infinite loop

In [61]:
angka = 4

In [67]:
angka = angka + 1
angka

8

In [68]:
i = 0

while i < 5:
    print(i)
    i = i + 1

0
1
2
3
4

In [72]:
# nested while

i = 1

while i <= 10:
    print(f"5 x {i} = {5*i}")
    i = i + 1

5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

In [ ]:
i = 1
j = 1

while i <= 10: # i kurang dari 10 ttp executing
    while j <= 10: # j kurang dari 10 ttp executing
        print(f"{i} x {j} = {i*j}") 
        j = j + 1
    print ("=" * 10)
    i = i + 1   
    j = 1

In [76]:
### for loop
## for <temp var> m <set of value>
# < statement >
# < statement >
# temp dapat berupa (list, tuple, array, dictionary)

In [77]:
cities = cities + ["Labuan Bajo", "Kalimantan Selatan"]
cities

['Tokyo',
 'Surabaya',
 'Yogyakarta',
 'Medan',
 'Paris',
 'Labuan Bajo',
 'Kalimantan Selatan']

In [78]:
for i in cities:
    print (i)

Tokyo
Surabaya
Yogyakarta
Medan
Paris
Labuan Bajo
Kalimantan Selatan

In [79]:
for i in range (1,10): #range adalah (x,y), x nilai awal dan y nilai akhir -1
    print (i)

1
2
3
4
5
6
7
8
9

In [81]:
list(range(1,10))

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [83]:
for i in range (1,11) :
    print (f"5*{i} = {5*i}")

5*1 = 5
5*2 = 10
5*3 = 15
5*4 = 20
5*5 = 25
5*6 = 30
5*7 = 35
5*8 = 40
5*9 = 45
5*10 = 50

In [ ]:
i = 1
j = 1

while i <= 10: # i kurang dari 10 ttp executing
    while j <= 10: # j kurang dari 10 ttp executing
        print(f"{i} x {j} = {i*j}") 
        j = j + 1
    print ("=" * 10)
    i = i + 1   
    j = 1

In [ ]:
for i in range (1,11) :
    for j in range (1,11):
        print (f"{i} x {j} = {i*j}")
    print ("=" * 10)

In [87]:
for i in cities:
    print (i)

Tokyo
Surabaya
Yogyakarta
Medan
Paris
Labuan Bajo
Kalimantan Selatan

In [ ]:
idx = 0

while idx <len(cities):
    print (cities[idx])
    idx = idx + 1  #idx += 1

### flow control Statement

In [ ]:
# continue
for i in range (0,11):
    if i in [2, 5, 7,9]:
        continue
    print (i)

In [93]:
# break
for i in range (0,11):
    if i in [2, 5, 7,9]:
        break
    print (i)

0
1

In [ ]:
i = 1
j = 1

while i <= 10: # i kurang dari 10 ttp executing
    while j <= 10: # j kurang dari 10 ttp executing
        i = i + 1   
        j = 1
        if i in [4,5,6]:
          continue
        while j <= 10:
            print(f"{i} x {j} = {i*j}") 
            j = j + 1
        print("=" * 10)

In [101]:
angka = [1,2,3,4,5,6,7,8,9,10]

above_5 = []

for i in angka:
    if i > 5:
        above_5.append(i)

above_5

[6, 7, 8, 9, 10]

In [103]:
d = {"rafif":70, "dwi":80, "ezar":85}
d

{'rafif': 70, 'dwi': 80, 'ezar': 85}

In [104]:
d.keys()

dict_keys(['rafif', 'dwi', 'ezar'])

In [105]:
d.values()

dict_values([70, 80, 85])

In [106]:
d.items()

dict_items([('rafif', 70), ('dwi', 80), ('ezar', 85)])

In [107]:
for nama, nilai in d.items ():
    print (nama, "dengan nilai", nilai)

rafif dengan nilai 70
dwi dengan nilai 80
ezar dengan nilai 85

In [113]:
grade = {}

for nama, x in d.items():
    if 0 <= x <= 100:
        if 80 <= x:
            grade[nama] = "A"
        elif 70 <= x: 
            grade[nama] = "B"
        elif x >= 60: 
            grade[nama] = "C"   
        elif x >= 40: 
            grade[nama] = "D"   
        else:
            grade[nama] = "E"   
    else :
        print("Angka Tidak Valid")

grade

{'rafif': 'B', 'dwi': 'A', 'ezar': 'A'}