#PENGENALAN PYTHON

In [45]:
# numerik : integer, float, complex

# integer
angka = 7
print(angka)
type(angka)

7

int

In [ ]:
angka = 46
print(angka)
type(angka)

46

int

In [ ]:
# tipe float
angka_kedua = 7.0
print(angka_kedua)
type(angka_kedua)

7.0

float

In [ ]:
#bil. kompleks
angka_kompleks = 2+5j
print(angka_kompleks)
print(type(angka_kompleks))

(2+5j)
<class 'complex'>

In [ ]:
#bil. kompleks
angka_kompleks = 2+5j
print(angka_kompleks)
type(angka_kompleks)

(2+5j)

complex

In [ ]:
angka = 4.7e-4
print(angka)

0.00047

#Khusus String

In [ ]:
#string : seq. of char
nama = "Rahmad Gunawan"
print(nama)
print(type(nama))

Rahmad Gunawan
<class 'str'>

In [ ]:
hari = "Jum'at"
print(hari)

Jum'at

In [ ]:
#triple quotes = dipakai untuk menuliskan lebih dari 1 baris
lirik = """
kamu dimana
dengan siapa
semalam berbuat apa 
"""
print(lirik)

kamu dimana
dengan siapa
semalam berbuat apa

In [ ]:
#selecting char
nama = "Rahmad Gunawan"
print(nama[2])
print(nama[-2])

h
a

In [ ]:
print(nama[2:5])
print(nama[2:5:2])

hma
ha

In [ ]:
##string romatting
# f-string
nama = "Gunawan"
usia = 25
print(f"Nama kamu adalah : {nama} dan usia kamu adalah {usia} tahun")

Nama kamu adalah : Gunawan dan usia kamu adalah 25 tahun

#User Input Program

In [47]:
nama = input("Masukkan nama anda :")
usia = input("Masukkan usia anda :")
print(f"nama kamu adalah : {nama} dan usia kamu adalah {usia}")

nama kamu adalah : Rahmad dan usia kamu adalah 25

#booleen

In [48]:
True

True

In [49]:
False

False

In [52]:
is_married = True
print(is_married)
type(is_married)

True

bool

In [53]:
100 < 500

True

In [54]:
100 > 500

False

In [59]:
a = 23
print(a)

23

In [60]:
a == 25

False

In [62]:
#var assignment
a = b = c = 46
print(f"a : {a}")
print(f"b : {b}")
print(f"c : {c}")

a : 46
b : 46
c : 46

In [63]:
#var assignment
a, b, c = 1, 2, 3
print(f"a : {a}")
print(f"b : {b}")
print(f"c : {c}")

a : 1
b : 2
c : 3

# Operasi

In [67]:
# operasi aritmatika
angka_1 = 7
angka_2 = 2

print(f"hasil penjumlahan : {angka_1 + angka_2}")
print(f"hasil pengurangan : {angka_1 - angka_2}")
print(f"hasil perkalian : {angka_1 * angka_2}")
print(f"hasil pembagian normal : {angka_1 / angka_2}")
print(f"hasil pembagian bulat : {angka_1 // angka_2}")
print(f"hasil pangkat : {angka_1 ** angka_2}")
print(f"hasil sisa bagi : {angka_1 % angka_2}")

hasil penjumlahan : 9
hasil pengurangan : 5
hasil perkalian : 14
hasil pembagian normal : 3.5
hasil pembagian bulat : 3
hasil pangkat : 49
hasil sisa bagi : 1

# Operasi String

In [74]:
string_1 = "Rahmad"
string_2 = "Gunawan"

print(f"Concatenation {string_1 + ' ' + string_2}") # str & str
print(f"Repeating :{string_1 * 5}") #str & int

Concatenation Rahmad Gunawan
Repeating :RahmadRahmadRahmadRahmadRahmad

### Comparison Operator

In [78]:
a = 10
b = 10
print(f"{a} == {b} (sama dengan) : {a == b}")
print(f"{a} != {b} (tidak sama dengan) : {a != b}")
print(f"{a} > {b} (lebih besar) : {a > b}")
print(f"{a}>= {b} (lebih besar sama dengan) : {a >= b}")
print(f"{a} < {b} (lebih kecil) : {a < b}")
print(f"{a} <= {b} (lebih kecil sama dengan) : {a <= b}")

10 == 10 (sama dengan) : True
10 != 10 (tidak sama dengan) : False
10 > 10 (lebih besar) : False
10>= 10 (lebih besar sama dengan) : True
10 < 10 (lebih kecil) : False
10 <= 10 (lebih kecil sama dengan) : True

## String Manipulation

In [79]:
nama = "Rahmad Gunawan"
nama.upper ()

'RAHMAD GUNAWAN'

In [80]:
nama

'Rahmad Gunawan'

In [81]:
nama.lower()

'rahmad gunawan'

In [82]:
nama = nama.upper()
#mengubahh isi dari variabel nama, menjadi isi dari variabel nama namun di upper()

In [83]:
nama

'RAHMAD GUNAWAN'

In [84]:
nama = "Rahmad Gunawan"
nama.capitalize()

'Rahmad gunawan'

In [85]:
nama.title()

'Rahmad Gunawan'

## Tipe Data Majemuk

In [88]:
# list [] & tuple ()
my_tuple = (1,2,3.5, "Rahmad", True, (1,2,4))
my_list = [1,2,3.5, "Rahmad", True, (1,2,4)]

In [89]:
print(type(my_tuple))
print(type(my_list))

<class 'tuple'>
<class 'list'>

In [90]:
len(my_list)

6

In [91]:
my_tuple[2]

3.5

In [92]:
my_list[3]

'Rahmad'

In [93]:
my_tuple[1:3]

(2, 3.5)

### Tuple vs List

In [95]:
#tuple hanya untuk read only, tidak bisa diganti dan dimodifikasi
# tuple : imutable
# list : mutable
# list dapat diubah

In [96]:
print(my_tuple)
print(my_list)

(1, 2, 3.5, 'Rahmad', True, (1, 2, 4))
[1, 2, 3.5, 'Rahmad', True, (1, 2, 4)]

In [97]:
my_list[4] = False

In [98]:
my_list

[1, 2, 3.5, 'Rahmad', False, (1, 2, 4)]

In [99]:
my_tuple[4] = False

TypeError: 'tuple' object does not support item assignment

### List Method

In [103]:
# menambah data pada list
a = [1, 2, 3, 4, 5]

In [106]:
# append, akan menambah di posisi terakhir
a.append(100)

In [107]:
a

[1, 2, 3, 4, 5, 100]

In [108]:
# insert, harus dilock diposisi ke berapa (setelah angka 3 misalnya (3,100))
a.insert(3,100)

In [109]:
a

[1, 2, 3, 100, 4, 5, 100]

In [110]:
# mengahpus data 
a

[1, 2, 3, 100, 4, 5, 100]

In [111]:
# hapus angka 100
a.remove(100)

In [112]:
a

[1, 2, 3, 4, 5, 100]

In [114]:
# hapus data di lokasi ke 3
del a[3]

In [115]:
a

[1, 2, 3, 5, 100]

## Dictionary

In [120]:
biodata = {"nama" : "rahmad",
            "usia" : 17,
            "pekerjaan" : "Data Science",
            "company" : "Hacktiv8" }

In [121]:
print(biodata)

{'nama': 'rahmad', 'usia': 17, 'pekerjaan': 'Data Science', 'company': 'Hacktiv8'}

In [122]:
biodata["nama"]

'rahmad'

In [130]:
biodata["nama"] = "budi"

In [131]:
print (biodata)

{'nama': 'budi', 'usia': 17, 'pekerjaan': 'Data Science', 'company': 'Hacktiv8', 'status': 'Lajang'}

In [126]:
biodata["status"] = "Lajang"

In [127]:
biodata

{'nama': 'budi',
 'usia': 17,
 'pekerjaan': 'Data Science',
 'company': 'Hacktiv8',
 'status': 'Lajang'}

In [133]:
# delete item
del biodata ["status"]

In [134]:
biodata

{'nama': 'budi',
 'usia': 17,
 'pekerjaan': 'Data Science',
 'company': 'Hacktiv8'}