### Day 1 Intro Python

In [155]:
# List 1
# Write a Python program to display the first and last colors from the following list. 
# color_list = ["Red","Green","White","Black"]

color_list = ["Red","Green","White" ,"Black"]
print(f"the first color in the list is {color_list[1]}")
print(f"the last color in the list is {color_list[3]}")

the first color in the list is Green
the last color in the list is Black

In [156]:
# List 2
# Write a Python program to print a specified list after removing the 0th, 4th and 5th elements.
# Sample List : ['Red', 'Green', 'White', 'Black', 'Pink', 'Yellow']
# Expected Output : ['Green', 'White', 'Black']

sample_list = ['Red' , 'Green', 'White', 'Black', 'Pink', 'Yellow']
print(f"original list color : {sample_list}")
del sample_list[0]
del sample_list[3:5]
print(f"after removing the 0th, 4th and 5th elements :{sample_list}")

# Other Option
print('='*15)
sample_list = ['Red' , 'Green', 'White', 'Black', 'Pink', 'Yellow']
sample_list = [i for i in sample_list if i not in ('Red','Pink', 'Yellow')]
print(f"after removing the 0th, 4th and 5th elements :{sample_list}")

original list color : ['Red', 'Green', 'White', 'Black', 'Pink', 'Yellow']
after removing the 0th, 4th and 5th elements :['Green', 'White', 'Black']
===============
after removing the 0th, 4th and 5th elements :['Green', 'White', 'Black']

In [160]:
# Dictionary 1
# Write a Python script to add a key to a dictionary.
# Sample Dictionary : {0: 10, 1: 20}
# Expected Result : {0: 10, 1: 20, 2: 30}

sample_dictionary = {0: 10, 1: 20}
sample_dictionary[2]= 30
print(f"Result : {sample_dictionary}")

Result : {0: 10, 1: 20, 2: 30}

In [161]:
# Dictionary 2
# Write a Python program to sum all the items in a dictionary.

print(f"sample_dictionary:{sample_dictionary}")
sum(sample_dictionary.values())
print(f"total sum all the items in a dictionary is : {total_sum}")

# Other Option 
print('='*15)
sample_dictionary = {0: 10, 1: 20, 2: 30}
sample_dictionary1 = sum(sample_dictionary[item] for item in sample_dictionary)
print(f"total sum all the items in a dictionary is : {sample_dictionary1}")

sample_dictionary:{0: 10, 1: 20, 2: 30}
total sum all the items in a dictionary is : 60
===============
total sum all the items in a dictionary is : 60

In [205]:
# String 1
# Write a Python program to get a single string from two given strings, separated by a space and swap the first two characters of each string. 
# Sample String : 'abc', 'xyz' 
# Expected Result : 'xyc abz

string_1 = "abc"
string_2 = "xyz"
newstring_1 = string_2[:2]+string_1[2]
newstring_2 = string_1[:2]+string_2[2]
print(f"Result : {newstring_1 + ' ' +newstring_2}")

Result : xyc abz

In [215]:
# String 2
# Write a Python program to change a given string to a new string where the first and last chars have been exchanged.
# Sample String : 'dbca'
# Expected Result : 'abcd'

sample_string = "dbca"

new_string = sample_string[3]+sample_string[1:3]+sample_string[0]
print(new_string)

# Other Option
print('='*15)
text = input('input string : dbca:')
newtext = text[-1]+text[1:-1]+text[0]
print('dbca:', newtext)

abcd
===============
dbca: abcd

In [218]:
cities = ['Tokyo', 'Surabaya', 'Yogyakarta', 'Medan', 'Paris']
cities

['Tokyo', 'Surabaya', 'Yogyakarta', 'Medan', 'Paris']

In [219]:
cities = cities + ['Labuan Bajo', 'Kalimantan Selatan']
cities

['Tokyo',
 'Surabaya',
 'Yogyakarta',
 'Medan',
 'Paris',
 'Labuan Bajo',
 'Kalimantan Selatan']

In [220]:
idx = 0

while idx < len(cities):
  print(cities[idx])
  idx += 1 # idx = idx + 1

Tokyo
Surabaya
Yogyakarta
Medan
Paris
Labuan Bajo
Kalimantan Selatan

### Day 2 Conditional & Looping

In [271]:

# - Loop dan print semua angka genap dari list angka diatas dengan urutan yang sama. 
# - Jangan mencetak angka apapun yang muncul setelah angka 918 berdasarkan posisi angka tersebut pada list diatas.
# \Tampilkan pesan ”Done” setelah looping berakhir" 

numbers = [951, 402, 984, 651, 360, 69, 408, 319, 601, 485, 980, 507, 725, 547, 544, 615, 
83, 165, 141, 501, 263, 617, 865, 575, 219, 390, 984, 592, 236, 105, 942, 941, 386, 462, 
47, 418, 907, 344, 236, 375, 823, 566, 597, 978, 328, 615, 953, 345, 399, 162, 758, 219, 918, 
237, 412, 566, 826, 248, 866, 950, 626, 949] #selesai pada bagian ini

angka_genap = []
for number_new in numbers:
    if number_new == 237:
        break
    if number_new % 2 == 1:
        continue
    number_new
    angka_genap.append(number_new)
print(f"list angka genap : {angka_genap}")
print("=========== Done ============")

list angka genap : [402, 984, 360, 408, 980, 544, 390, 984, 592, 236, 942, 386, 462, 418, 344, 236, 566, 978, 328, 162, 758, 918]
=========== Done ============

In [272]:
# Other Option

numbers = [951, 402, 984, 651, 360, 69, 408, 319, 601, 485, 980, 507, 725, 547, 544, 615, 
83, 165, 141, 501, 263, 617, 865, 575, 219, 390, 984, 592, 236, 105, 942, 941, 386, 462, 
47, 418, 907, 344, 236, 375, 823, 566, 597, 978, 328, 615, 953, 345, 399, 162, 758, 219, 918, 
237, 412, 566, 826, 248, 866, 950, 626, 949] #selesai pada bagian ini

for number_new in numbers:
    if number_new == 237:
        break
    if number_new % 2 == 1:
        continue
    print(number_new)
print("Done")

402
984
360
408
980
544
390
984
592
236
942
386
462
418
344
236
566
978
328
162
758
918
Done